/* static/styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f6; /* Light gray background */
    color: #333; /* Dark gray text */
    margin: 0;
    padding: 20px;
    background-image: url('/static/images/background.jpg'); /* Background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 0;
    background-color: #4CAF50; /* Light background for the header */
    box-sizing: border-box;
}

.logo {
    height: 50px; /* Adjust the height as needed */
}

.header-content {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Take up remaining space */
    justify-content: space-between;
}

.welcome-message {
    font-size: 18px; /* Small characters */
    font-weight: bold;
    color: white; /* Slightly lighter gray */
    margin-left: 20px; /* Space between logo and welcome message */
}

.form-row {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically align label and input */
    margin-bottom: 15px; /* Add space between rows */
    width: 500px;
}

/* Fixed width for the search input */
.input {
    width: 150px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.input:focus {
    border-color: #45a049; 
    box-shadow: 0 0 5px rgba(69, 160, 73, 0.5); 
}

.input2 {
    width: 172  px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.input2:focus {
    border-color: #45a049; 
    box-shadow: 0 0 5px rgba(69, 160, 73, 0.5); 
}

.button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.button {
    padding: 10px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; 
    border-color: white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block;
    box-sizing: border-box;
}

.button:hover {
    background-color: #45a049; 
    border-bottom: 4px solid white;
}

.button2 {
    padding: 10px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; 
    border-color: white;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 14px; /* Font size */
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block;
    box-sizing: border-box;
}

.button2:hover {
    background-color: #45a049; /* Darker green on hover */
}

.buttonBack {
    padding: 10px;
    background-color: white; /* Green background */
    color: black; /* White text */
    border: none; 
    border-color: white;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 14px; /* Font size */
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block;
    box-sizing: border-box;
}

.buttonBack:hover {
    background-color: #C4C4C4;
}

.buttonRed {
    padding: 10px;
    background-color: #cc1e1e; /* Green background */
    color: white; /* White text */
    border: none; 
    border-color: white;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 14px; /* Font size */
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block;
    box-sizing: border-box;
}

.buttonRed:hover {
    background-color: #d65454;
}


.content {
    padding: 20px;
}

.label2 {
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    color: #333; /* Text color */
    width: 150px; /* Fixed width to align inputs */
    text-align: left ; /* Right-align the label */
    margin-right: 10px; /* Add space between label and input */
}


.home-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}