/* static/styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f6; /* Light gray background */
    color: #333; /* Dark gray text */
    margin: 0;
    padding: 20px;
    background-image: url('/static/images/background.jpg'); /* Background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #dedef1b9; /* Light background for the header */
    border-bottom: 1px solid #1c90b7b6; /* Border for the header */
}

.logo {
    height: 50px; /* Adjust the height as needed */
}

.header-content {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Take up remaining space */
    justify-content: space-between;
}

.welcome-message {
    font-size: 14px; /* Small characters */
    color: #555; /* Slightly lighter gray */
    margin-left: 20px; /* Space between logo and welcome message */
}

.button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.button {
    padding: 15px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    margin-right: 10px;
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block;
}

.button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.content {
    padding: 20px;
}

.home-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}