<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Bus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add a New Bus</h1>
        <form action="{{ url_for('add_bus_route') }}" method="POST">
            <div class="form-row">
                <label for="bus_number" class="label2">Bus Number:</label>
                <input type="text" id="bus_number" class="input" name="bus_number" required>
            </div>
            
            <div class="form-row">
                <label for="route" class="label2">Route:</label>
                <input type="text" id="route" class="input" name="route" required>
            </div>

            <div class="form-row">
                <label for="total_seats" class="label2">Total Seats:</label>
                <input type="number" id="total_seats" class="input" name="total_seats" required>
            </div>

            <div class="form-row">
                <label for="time" class="label2">Time:</label>
                <input type="text" id="time" class="input" name="time" required>
            </div>

            <div class="form-row">
                <label for="price" class="label2">Price:</label>
                <input type="number" id="price" class="input" name="price" step="0.01" required>
            </div>

            <div class="form-row">
                <button type="submit" class="button2">Add bus</button>
            </div>
        </form>
        <a href="{{ url_for('view_buses_route') }}" class="buttonBack">Back to View Buses</a>
    </div>
</body>
</html>