{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome {{ username }}!</h1>
    <p>Balance: ${{ balance }}</p>
    <img src="{{ url_for('static', filename='images/home_image.jpg') }}" alt="Home Image" class="home-image">
    <div class="button-container">
        <a href="{{ url_for('view_buses_route') }}" class="button">View Buses</a>
        {% if user[1] == 'admin' %}
        <a href="{{ url_for('add_bus_route') }}" class="button">Add Bus</a>
        <a href="{{ url_for('manage_accounts') }}" class="button">Manage Accounts</a>
        {% endif %}
        <a href="{{ url_for('my_tickets') }}" class="button">My Tickets</a>
        <a href="{{ url_for('profile') }}" class="button">Profile</a>
        <a href="{{ url_for('logout') }}" class="button">Logout</a>
    </div>
</div>
{% endblock %}